@model IEnumerable<WebApplication.ExpensesType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpensesType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpensesDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpensesTypeCreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensesType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensesDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensesTypeCreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdExpensesType }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdExpensesType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdExpensesType })
        </td>
    </tr>
}

</table>
